@charset "UTF-8";
/*VARIABLES*/
/*extend*/
.boton, .boton--cancelar, .boton--aceptar {
  width: 100px;
  height: 30px;
  border: solid 1px black;
  background-color: blue;
  margin-left: 70px;
  color: white;
}

.boton--aceptar {
  background-color: rgb(88, 88, 89);
}

.boton--cancelar {
  background-color: rgb(249, 6, 6);
}

.newbox {
  display: flex;
  align-items: center;
}

/*Header*/
.fondoazul {
  background-color: rgb(19, 80, 194);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.fondo {
  background-color: rgb(19, 80, 194);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center;
  padding-top: 30px;
}
header .imge img {
  margin: 0 auto;
  display: block;
  width: 50%;
  padding-top: 100px;
}
header .elnavega .menu {
  list-style: none;
  justify-content: center;
  width: 100%;
}
header .elnavega .menu a,
header .elnavega .menu .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: white;
}
header .elnavega .menu li,
header .elnavega .menu .navbar-nav .nav-item {
  color: rgb(12, 11, 11);
  font-weight: bolder;
  font-size: 1rem;
  margin-bottom: 0px;
  padding: 0 40px;
}

.logo img {
  margin: 0 auto;
  display: block;
  width: 80px;
  padding: 1px 0;
}

/*main*/
.title {
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 4%;
  text-align: center;
  font-size: 35px;
}

.padreimg img {
  margin: 0 auto;
  display: block;
  width: 600px;
  padding-top: 20px;
}

.contenedortexto {
  background-color: rgba(182, 182, 182, 0.39);
  padding: 100px;
}
.contenedortexto h1 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.primerparrafo {
  font-weight: bold;
}

.boxpadre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.box {
  padding: 20px;
  text-align: center;
}
.box img {
  max-width: 100%;
  height: auto;
}

.titulo {
  margin-top: 10px;
  color: white;
}

.parrafo {
  margin-top: 10px;
  color: white;
}

.quirofa {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.quirofa img {
  max-width: 100%;
}
.quirofa p {
  margin-top: 10px;
}

.quiro {
  margin-top: 10px;
  font-weight: bold;
}

.espacios {
  background-color: #0b3de1;
  margin-top: 30px;
  text-align: center;
  color: white;
}

.somos {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.t {
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 3%;
  text-align: center;
}

.profesionales {
  width: 100vw;
  height: 300px;
}

.mb-5 {
  gap: 20px;
}

.card {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
}
.card div {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ortopedi {
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.peri {
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.endo {
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.dento {
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.tx {
  width: 270px;
  height: auto;
  padding-left: 5px;
  text-align: center;
  margin-top: 15px;
}

.co {
  display: flex;
}

.cont {
  margin-left: 10px;
}

.contacto {
  display: flex;
}

.contact {
  width: 50%;
  margin-right: 20px;
  text-align: center;
  margin-left: 70px;
  font-weight: bold;
  margin-top: 20px;
}

.form {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
  align-items: center;
}
.form section {
  width: 400px;
}

.fo {
  padding-bottom: 10px;
  background-color: rgb(19, 80, 194);
  border: 3px solid rgb(13, 13, 14);
  color: white;
}

.texto {
  margin-top: 3px;
  text-align: center;
}

.mapa {
  width: 100%;
}

.datos {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 15px;
}

/*mis h1 */
.title {
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 4%;
  text-align: center;
  font-size: 35px;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 500px) {
  .fondoazul {
    padding: 30px;
    height: auto;
  }
  .imge {
    text-align: center;
    margin-bottom: 20px;
  }
  .contenedortexto {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedortexto h1 {
    margin-bottom: 5px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 35px;
    align-items: center;
    padding-right: 30px;
    margin-left: 20px;
  }
  .primerparrafo {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    padding-right: 30px;
    margin-left: 5px;
  }
  .primerparrafo .title {
    font-weight: bold;
    margin-top: 6%;
    margin-bottom: 9%;
    text-align: center;
    font-size: 25px;
  }
}
/*tamaño celular  - 320px -420px -480px (500px) */
@media screen and (max-width: 500px) {
  .quirofa img {
    max-width: 80%;
  }
  .quirofa img .title {
    font-weight: bold;
    margin-top: 6%;
    margin-bottom: 9%;
    text-align: center;
    font-size: 25px;
  }
}
/* Estilos para dispositivos móviles con pantalla de 320px a 500px */
@media screen and (max-width: 500px) {
  .somos {
    text-align: center;
    align-items: center;
  }
  .title {
    font-weight: bold;
    margin-top: 6%;
    margin-bottom: 9%;
    text-align: center;
    font-size: 25px;
  }
  .t {
    font-weight: bold;
    margin-top: 6%;
    margin-bottom: 9%;
    text-align: center;
    font-size: 20px;
  }
}
/* Media query para pantallas de 768px */
@media screen and (max-width: 768px) {
  .form {
    margin-left: 20px;
  }
  .form section {
    width: 100%;
  }
  .title {
    font-size: 30px;
  }
}
/* Media query para pantallas de 320px a 500px */
@media screen and (max-width: 500px) {
  .contact {
    width: 50%;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
  .form {
    width: 100%;
    display: inline;
    justify-content: space-around;
    padding-bottom: 100px;
    align-items: center;
  }
  .form section {
    width: 100%;
  }
  .title {
    font-weight: bold;
    margin-top: 6%;
    margin-bottom: 9%;
    text-align: center;
    font-size: 25px;
  }
  .boton, .boton--aceptar, .boton--cancelar {
    margin-left: 30px;
    margin-top: 5px;
  }
}
/*Footer*/
.piedepagina {
  background-color: rgb(138, 128, 128);
  text-align: center;
  color: white;
}
.piedepagina h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bolder;
}
.piedepagina p {
  margin: 0;
  font-size: 15px;
}

/*tipografia web */
body {
  font-family: "Quicksand", sans-serif;
}

/*# sourceMappingURL=estilos.css.map */
