@charset "UTF-8";
/* --------------------------- Variables ----------------------------------- */ /* ------------------------------- Extend --------------------------------------- */
.boton, .boton--cancelar, .boton--enviar {
  width: 100px;
  height: 35px;
  border: solid 1px black;
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.boton--enviar {
  background-color: rgb(74, 74, 77);
}

.boton--cancelar {
  background-color: rgb(249, 6, 6);
}

/* ------------------------------- Mixin --------------------------------------- */
.newbox {
  display: flex;
  align-items: center;
}

/* ------------------------------- Header --------------------------------------- */
.fondoazul {
  background-color: rgb(19, 80, 194);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.fondo {
  background-color: rgb(19, 80, 194);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center;
  padding-top: 30px;
}
header .imge img {
  margin: 0 auto;
  display: block;
  width: 50%;
  padding-top: 100px;
}
header .elnavega .menu {
  list-style: none;
  justify-content: center;
  width: 100%;
}
header .elnavega .menu a,
header .elnavega .menu .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: white;
}
header .elnavega .menu li,
header .elnavega .menu .navbar-nav .nav-item {
  color: rgb(12, 11, 11);
  font-weight: bolder;
  font-size: 1rem;
  margin-bottom: 0px;
  padding: 0 40px;
}

.logo img {
  margin: 0 auto;
  display: block;
  width: 80px;
  padding: 6px 0;
}

/* -------------------------- Home ----------------------------------- */
.padreimg img {
  margin: 0 auto;
  display: block;
  width: 600px;
  padding-top: 20px;
}

.contenedortexto {
  background-color: rgba(182, 182, 182, 0.39);
  padding: 50px;
}
.contenedortexto h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 20px;
}

.primerparrafo {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: rgb(51, 51, 63);
}

.segundoparrafo {
  text-align: justify;
  padding: 10px;
}

/* ------------------------- Consultorio------------------------------------- */
.boxpadre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.box {
  padding: 5px;
  text-align: center;
}
.box img {
  max-width: 100%;
  height: auto;
}

.titulo {
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

.parrafo {
  margin-top: 10px;
  text-align: center;
  color: white;
}

.quirofa {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.quirofa img {
  max-width: 100%;
}
.quirofa p {
  margin-left: 30px;
  margin-top: 2px;
  margin-right: 30px;
  font-size: 18px;
}

.quiro {
  margin-top: 15px;
  font-weight: bold;
}

.espacios {
  background: linear-gradient(rgb(19, 71, 202), rgb(100, 99, 100));
  margin-top: 5px;
  padding-top: 2px;
  text-align: center;
  color: white;
}

/* ----------------------- Nosotros --------------------------- */
.somos {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedordedos {
  width: 80%;
  align-items: center;
  background: rgb(232, 232, 247);
  box-shadow: 0px 19px 10px rgba(15, 14, 14, 0.1333333333);
  border-radius: 20px;
}

h2 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}

p {
  text-align: center;
}

.profesionales {
  width: 100vw;
  height: 300px;
}

/* ------------------------------- Tratamientos --------------------------------------- */
.card {
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.card div {
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ortopedi {
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.peri {
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.endo {
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.dento {
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.tx {
  width: 270px;
  height: auto;
  padding-left: 5px;
  text-align: center;
  margin-top: 15px;
}

.mb-5 {
  gap: 20px;
}

/* ------------------------------- Contacto --------------------------------------- */
.contact {
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.formulario {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(19, 71, 202), rgb(100, 99, 100));
  border: 2px solid rgb(13, 13, 14);
  border-radius: 10px;
  color: white;
}

.tituloFormulario {
  padding-top: 10px;
  margin-top: 1px;
  text-align: center;
  font-size: 28px;
}

.formulario div {
  padding-bottom: 20px;
}

.form-label {
  font-size: 16px;
}

.form-control {
  width: 100%;
}

.form-select {
  width: 100%;
}

.form-textarea {
  width: 100%;
}

.texto {
  font-size: 20px;
  height: auto;
  text-align: center;
}

.mapa {
  width: 100%;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-bottom: 30px;
}

/* ------------------------------- Mis H1 --------------------------------------- */
.title {
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* ------------------------------- MediaQueries --------------------------------------- */
/* Media query para pantallas de 768px tablet*/
@media screen and (max-width: 768px) {
  .primerparrafo {
    font-size: 20px;
  }
}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 500px) {
  .fondoazul {
    padding: 30px;
    height: auto;
  }
  .imge {
    text-align: center;
    margin-bottom: 20px;
  }
  .contenedortexto {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedortexto h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .primerparrafo {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    text-align: center;
  }
}
/*tamaño celular  - 320px -420px -480px (500px) */
@media screen and (max-width: 500px) {
  .quirofa img {
    max-width: 100%;
    padding-top: 15px;
  }
  .title {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 4%;
    margin-bottom: 3%;
  }
}
/* Estilos para dispositivos móviles con pantalla de 320px a 500px */
@media screen and (max-width: 500px) {
  .somos {
    text-align: center;
    align-items: center;
    padding-top: 40px;
  }
  .title {
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    margin-top: 6%;
    margin-bottom: 9%;
  }
  /* Estilos para dispositivos móviles con pantalla de 320px a 500px */
}
@media screen and (max-width: 500px) and (max-width: 500px) {
  .contenedordedos {
    width: 100%;
    align-items: center;
    text-align: center;
    border-radius: 10px;
  }
  .contenedordedos h2 {
    text-align: center;
    font-weight: bold;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 27px;
  }
  .contenedordedos p {
    margin-right: 5px;
    text-align: justify;
  }
}
/* Media query para pantallas de 768px tablet*/
@media screen and (max-width: 768px) {
  .contact {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
  .texto {
    font-size: 18px;
    height: auto;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
}
/*tamaño celular  - 320px -420px -480px (500px) */
@media screen and (max-width: 500px) {
  .title {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 4%;
    margin-bottom: 3%;
  }
  .formulario {
    width: 100%;
  }
  .form-control {
    width: 300px;
  }
  .botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
/* ---------------------- Footer ------------------------------ */
.piedepagina {
  background-color: rgb(138, 128, 128);
  text-align: center;
  color: white;
}
.piedepagina h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bolder;
}
.piedepagina p {
  margin: 0;
  font-size: 15px;
}

/* ------------------------------- Tipofrafia web --------------------------------------- */
body {
  font-family: "Quicksand", sans-serif;
}

/*# sourceMappingURL=estilos.css.map */
