/*extend*/

.boton {
    width: 100px;
    height: 35px;
    border: solid 1px black;
    background-color: blue;
    color: $colorsecundario ;
    border-radius: 5px;
    
}


.boton--enviar {
    @extend .boton;
    background-color: rgb(74, 74, 77);

}


.boton--cancelar {
    @extend .boton;
    background-color: rgb(249, 6, 6);

}