/*extend*/

.boton {
    width: 100px;
    height: 30px;
    border: solid 1px black;
    background-color: blue;
    margin-left: 70px ;
    color: $colorsecundario ; 
    
}


.boton--aceptar {
    @extend .boton;
    background-color: rgb(88, 88, 89);

}


.boton--cancelar {
    @extend .boton;
    background-color: rgb(249, 6, 6);

}