/* ---------------------- Footer ------------------------------ */
.piedepagina {
 background-color: rgb(138, 128, 128);
	text-align: center;
	color: $colorsecundario;
	h2 {
		margin: 0;
		font-size: 20px;
		font-weight: bolder;
	}
	p {
		margin: 0;
		font-size: 15px;
	}
}
