/*main*/
.padreimg {
	img {
		margin: 0 auto;
		display: block;
		width: 600px;
		padding-top: 20px;
	}
}

.contenedortexto {
	background-color: rgba(182, 182, 182, 0.39);
	padding: 50px;

	h1 {
		display: flex;
		justify-content: center;
		font-weight: bold;
		font-size: 50px;
		text-align: center;
		margin-top: 10px;
		padding-bottom: 30px;
	}
}

.primerparrafo {
	font-weight: bold;
}


.boxpadre {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}

.box {
	padding: 20px;
	text-align: center;

	img {
		max-width: 100%;
		height: auto;
	}
}

.titulo {
	margin-top: 10px;
	color: $colorsecundario ;
}

.parrafo {
	margin-top: 5px;
	color: $colorsecundario;
}

.quirofa {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	img {
		max-width: 100%;
	}

	p {
		margin-top: 10px;
	}
}

.quiro {
	margin-top: 10px;
	font-weight: bold;
}

.espacios {
	background: linear-gradient(rgb(19, 71, 202), rgb(100, 99, 100));
	margin-top: 20px;
	padding-top: 10px;
	text-align: center;
	color: $colorsecundario;

}

.somos {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 20px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.t {
	font-weight: bold;
	margin-top: 4%;
	margin-bottom: 3%;
	text-align: center;
}

.profesionales {
	width: 100vw;
	height: 300px;
}


.card {
	height: 390px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;

	div {
		height: 390px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.ortopedi {
	margin-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

.peri {
	margin-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

.endo {
	margin-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

.dento {
	margin-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

.tx {
	width: 270px;
	height: auto;
	padding-left: 5px;
	text-align: center;
	margin-top: 15px;

}

.mb-5 {
	gap: 20px;
}


.co {
	display: flex;
}

.cont {
	margin-left: 10px;
}

.contact {
	text-align: center;
	font-weight: bold;
	margin-top: 20px;

}

.form {
	display: flex;
	justify-content: space-around;
	padding-bottom: 100px;
	align-items: center;
	gap: 30px;
	margin-left: 20px;
	margin-right: 10px;
}

.form section {
	width: 50% ;

}

.fo {
	padding-bottom: 10px;
	background: linear-gradient(rgb(19, 71, 202), rgb(100, 99, 100));
	border: 3px solid rgb(13, 13, 14);
	color: $colorsecundario;
}

.texto {
	margin-top: 5px;
	text-align: center;
	font-size: 20px;
}

.mapa {
	width: 100%;
}


form {

	margin-left: 10px;

	div {
	
		align-items: center;
		margin-top: 20px;
		margin-left: 20px;
		margin-bottom: 15px;
	}
}

.botones {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}




/*mis h1 */
.title {
	font-weight: bold;
	text-align: center;
	font-size: 35px;
	margin-top: 1%;
	margin-bottom: 2%;
}