/* Estilos para dispositivos móviles */
@media screen and (max-width:500px) {
	.fondoazul {
		padding: 30px;
		height: auto;
	}

	.imge {
		text-align: center;
		margin-bottom: 20px;
	}

	.contenedortexto {
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;

		h1 {
			display: flex;
			justify-content: center;
			font-weight: bold;
			font-size: 40px;
			text-align: center;
			margin-top: 10px;
			padding-bottom: 10px;
		}
	}

	.primerparrafo {
		margin-top: 5px;
		font-size: 16px;
		font-weight: bold;
		margin-left: 5px;

	}

	.title {
		font-weight: bold;
		margin-top: 6%;
		margin-bottom: 9%;
		text-align: center;
		font-size: 25px;
	}
}

/*tamaño celular  - 320px -420px -480px (500px) */
@media screen and (max-width:500px) {

	.quirofa img {
		max-width: 80%;


		.title {
			font-weight: bold;
			margin-top: 6%;
			margin-bottom: 9%;
			text-align: center;
			font-size: 25px;
		}
	}
}

/* Estilos para dispositivos móviles con pantalla de 320px a 500px */
@media screen and (max-width: 500px) {
	.somos {
		text-align: center;
		align-items: center;

	}

	.title {
		font-weight: bold;
		margin-top: 6%;
		margin-bottom: 9%;
		text-align: center;
		font-size: 25px;
	}

	.t {
		font-weight: bold;
		margin-top: 6%;
		margin-bottom: 9%;
		text-align: center;
		font-size: 20px;

	}


}

/* Media query para pantallas de 768px tablet*/
@media screen and (max-width:768px) {

	.form {
		margin-left: 20px;

	}



	.title {
		font-size: 30px;

	}

	.texto {
		font-size: 18px;
		width: 270px;
		height: auto;
		margin-left: 50px;
		text-align: center;
		margin-top: 15px;




	}
}

/* Media query para pantallas de 320px a 500px */
@media screen and (max-width:500px) {
	.contact {
		width: 40%;
		text-align: center;
		font-weight: bold;
		margin-top: 10px;


	}


	.form {
		display: inline;
		justify-content: space-around;
		align-items: center;

	}


	.form section {
		width: 100%;

	}


	.boton {
		margin-left: 35px;
		margin-top: 2px;
	}

	.texto {
		font-size: 16px;
		margin-left: 20px;
		text-align: center;
		margin-top: 15px;

	}

}