/* ------------------------------- MediaQueries --------------------------------------- */

/* Media query para pantallas de 768px tablet*/
@media screen and (max-width:768px) {

	.primerparrafo {
		font-size: 20px;

	}
}

/* Estilos para dispositivos móviles */
@media screen and (max-width:500px) {
	.fondoazul {
		padding: 30px;
		height: auto;
	}

	.imge {
		text-align: center;
		margin-bottom: 20px;
	}

	.contenedortexto {
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;

		h1 {
			display: flex;
			justify-content: center;
			font-weight: bold;
			font-size: 40px;
			text-align: center;
			margin-top: 10px;
			padding-bottom: 10px;
		}
	}

	.primerparrafo {
		margin-top: 5px;
		font-size: 20px;
		font-weight: bold;
		margin-left: 5px;
		text-align: center;

	}

}

/*tamaño celular  - 320px -420px -480px (500px) */
@media screen and (max-width:500px) {

	.quirofa img {
		max-width: 100%;
		padding-top: 15px;


	}

	.title {
		font-weight: bold;
		text-align: center;
		font-size: 30px;
		margin-top: 4%;
		margin-bottom: 3%;

	}

}

/* Estilos para dispositivos móviles con pantalla de 320px a 500px */
@media screen and (max-width: 500px) {
	.somos {
		text-align: center;
		align-items: center;
		padding-top: 40px;


	}

	.title {
		font-weight: bold;
		text-align: center;
		font-size: 28px;
		margin-top: 6%;
		margin-bottom: 9%;
	}

	/* Estilos para dispositivos móviles con pantalla de 320px a 500px */
	@media screen and (max-width: 500px) {

		.contenedordedos {
			width: 80%;
			align-items: center;
			text-align: center;
			border-radius: 10px;


		}

		.contenedordedos h2 {
			text-align: center;
			font-weight: bold;
			align-items: center;
			margin-top: 36px;
			margin-bottom: 27px;


		}

		.contenedordedos p {
			margin-right: 5px;
			text-align: justify;

		}

	}
}

/* Media query para pantallas de 768px tablet*/
@media screen and (max-width:768px) {

	.contact {
		text-align: center;
		font-weight: bold;
		margin-top: 10px;
	}

	.texto {
		font-size: 18px;
		height: auto;
		text-align: center;
		margin-left: 10px;
		margin-right: 10px;
	}



	.botones {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 60px;

	}
}


/*tamaño celular  - 320px -420px -480px (500px) */
@media screen and (max-width:500px) {
	.title {
		font-weight: bold;
		text-align: center;
		font-size: 30px;
		margin-top: 4%;
		margin-bottom: 3%;
	}

	.formulario {
		width: 100%;

	}
	.form-control {
		width: 300px;
	
	
	}
	

	.botones {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;


	}

}